H1{
    color:chartreuse
 }
 
 *{
    border: solid;
 }

 .header{
     background-color: darkorange;
     display: flex;
     justify-content:space-between ;
 }
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: flex-end;
    
}
p,H2{
    text-align: center;
}